[Desktop Entry]
Type=Application
Name=GuideOS Bildschirmfoto-Editor
Comment=Erweitertes Screenshot- und Annotationstool für GuideOS
Exec=/bin/guideos-bildschirmfoto-editor.py
Icon=/usr/sahre/pixmaps/guideos-bildschirmfoto-editor.png
Terminal=false
Categories=GuideOS;
StartupNotify=true

