Source: guideos-screenshot-editor
Section: utils
Priority: optional
Maintainer: Actionschnitzel <actionschnitzel@guideos.de>
Build-Depends: debhelper (>= 12), python3
Standards-Version: 4.5.0
Homepage: 

Package: guideos-screenshot-editor
Architecture: all
Depends: ${misc:Depends}, python3, python3-gi, python3-cairo, gir1.2-gtk-3.0, gir1.2-gdkpixbuf-2.0, gir1.2-pango-1.0
Description: GuideOS Screenshot Editor
 Ein einfaches Tool zum Bearbeiten von Screenshots unter GuideOS.