#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	install -D -m 755 guideos-screenshot-editor debian/guideos-screenshot-editor/usr/lib/guideos/guideos-screenshot-editor/guideos-screenshot-editor
	install -D -m 644 "guideos-screenshot-editor.desktop" debian/guideos-screenshot-editor/usr/share/applications/guideos-screenshot-editor.desktop
	install -D -m 644 guideos-screenshot-editor.svg debian/guideos-screenshot-editor/usr/share/icons/hicolor/scalable/apps/guideos-screenshot-editor.svg
	install -d debian/guideos-screenshot-editor/usr/share/pixmaps
	cp usr/share/pixmaps/* debian/guideos-screenshot-editor/usr/share/pixmaps/
	install -d debian/guideos-screenshot-editor/usr/bin
	printf '#!/bin/bash\nexec python3 /usr/lib/guideos/guideos-screenshot-editor/guideos-screenshot-editor "$$@"\n' \
		> debian/guideos-screenshot-editor/usr/bin/guideos-screenshot-editor
	chmod 755 debian/guideos-screenshot-editor/usr/bin/guideos-screenshot-editor